{% extends "layout.html" %}
{% block body %}

<div class="section bg-gray">
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('root') }}">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ url_for('collections') }}">collections</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ request.path }}">{{ dataset['id'] }}</a>
    </li>

  </ul>
</div>

<h2>Dataset: {{ dataset['id'] }}</h2>

<p><span class="chip">CityJSON</span> {{ dataset['title'] }} </p>

<h3>View</h3>

<p><a href="{{ url_for('collections') }}{{ dataset['id'] }}/items">Browse though the features of the dataset</a></p>


{% endblock %}