<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>

<body>

  <div class="container">
    <div class="section bg-gray">
      <h1>CityJSON 💜 OGC API&mdash;Features</h1>
    </div>
  
  {% block body %} {% endblock %}

    <div class="divider"></div>
      <a href="{{ request.path }}?f=json">JSON</a>
  </div>
</body>
</html>
