{% extends "layout.html" %}

{% block body %}

<div class="section bg-gray">
  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('root') }}">/ home</a>
    </li>
  </ul>
</div>

<div class="column col-4">
  <div class="toast toast-warning">
    <button class="btn btn-clear float-right"></button>
    It's still work-in-progress! The structure of this demo is roughly copied from <a href="https://demo.pygeoapi.io/stable">pygeoapi demo</a>
  </div>
</div>


<h2>Collections</h2>
<p><a href="{{ url_for('collections') }}">View the available collections</a></p>


<h2>API Definition</h2>

<p>TODO</p>

<h2>Conformance</h2>

<p>TODO</p>


{% endblock %}