<style>
#viewer{
    height:100%;
}
 </style>


<!-- 3rd party code -->
<script src="https://threejs.org/build/three.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='3rd/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='3rd/earcut.js') }}"></script>

<!-- Scripts for loading CityObjects -->
<script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='OrbitControls.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='handle_cjf.js') }}"></script>
<!-- For streaming of dataset into viewer -->
<script type="text/javascript"
src="{{ url_for('static', filename='stream_cjc.js') }}"></script>

<!-- Elements for visualisation -->
<div id="dragger"></div>
<div id="viewer"></div>


<!-- Initialise viewer functionalities,
    retrieve variables from Flask if they exist (from render_template arguments),
    and start visualisation/streaming -->
<script>
    initDocument();
    initViewer();

    // We have a CityJSON
    {% if jcm is defined %}
    var jcm = {{ jcm|tojson }}

    handleNewFeature(jcm);
    {% endif %}

    // We have a CityJSONFeature
    {% if jitem is defined %}
    var jitem = {{ jitem|tojson }};
    handleNewFeature(jitem);
    {% endif %}

    // We have a CityJSONCollection that needs to be streamed
    {% if stream is defined %}
    var stream = {{ stream|tojson }};
    streamUrl = {{ url_for('stream', dataset=stream)|tojson }};
    startStream();
    {% endif %}
</script>