{% block head %}

<meta charset='utf-8' />
<title>CityJSONCollection visualisation</title>

<style>
#viewer{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}
 </style>

{% endblock %}



{% block body %}

<!-- 3rd party code -->
<script src="https://threejs.org/build/three.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='3rd/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='3rd/proj4.js') }}"></script>

<!-- Scripts for loading CityObjects -->
<script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='OrbitControls.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='handle_cjf.js') }}"></script>

<!-- CJ visualised in this element -->
<div id="viewer"></div>

<!-- Retrieve variables from Flask if they exist (from render_template arguments) -->
<script>
    {% if dataset is defined %}
    var dataset = {{ dataset|tojson }};
    streamUrl = {{ url_for('stream', dataset=dataset)|tojson }};
    {% endif %}
</script>


<!-- Initiate streaming of dataset into harp.gl map -->
<script type="text/javascript"
src="{{ url_for('static', filename='stream_cjc.js') }}"></script>


{% endblock %}