{% extends "layout.html" %}


{% block head %}

<meta charset='utf-8' />
<title>harp.gl CityJSONCollection visualisation</title>
<script type="text/javascript" src="{{ url_for('static', filename='proj4.js') }}"></script>
<script type="text/javascript" src="https://unpkg.com/three@0.115.0/build/three.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='harp.js') }}"></script>
<script type="text/javascript"src="{{ url_for('static', filename='harp-decoders.js') }}"></script>
{% endblock %}


<!-- Initialise variables from Flask with Jinja-->
{% block body %}
<script>
    // Retrieve variables from Flask if they exist (from render_template arguments)
    {% if dataset is defined %}
    var dataset = {{ dataset|tojson }};
    streamUrl = {{ url_for('stream', dataset=dataset)|tojson }};
    {% endif %}
</script>

<script type="text/javascript"
src="{{ url_for('static', filename='stream_cjc.js') }}"></script>


<!--map element for harp.gl-->
<canvas id="map"></canvas>

{% endblock %}